html {
    color: white;
    background-color: #000000;
  }

  h1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px 0;
    color: white;
    text-shadow: 3px 3px 1px gray;
  }

  body {
    font-family: 'Times New Roman', Times, serif;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #000000;
    padding: 0 20px 20px 20px;
    border: 5px solid white;
  }

  #imgContainer {
    text-align: center;
  }

  img {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
  }

  #navigateButton {
    font-family: 'Times New Roman', Times, serif;
    display: block; /* Ensure the button appears on a new line */
}